# ---------------------------------
# Required for ALL Modules
# ---------------------------------
# Google AI (Gemma/Gemini) as the LLM provider (Required)
# Get your API key at https://aistudio.google.com/
GOOGLE_API_KEY=

# ---------------------------------
# Required for Researcher Agents
# ---------------------------------
# Tavily as the search engine (Required)
# Sign up for a free account at https://tavily.com/
TAVILY_API_KEY=

# ---------------------------------
# Optional for LangGraph Module
# ---------------------------------
# LangSmith for tracing and observability (Optional - but highly recommended)
# Sign up for a free account at https://smith.langchain.com/
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=ai-launchpad
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
